## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
title_ratings = pd.read_csv('data/imdb.title.ratings.csv.gz')
title_basics = pd.read_csv('data/imdb.title.basics.csv.gz')
title_akas = pd.read_csv('data/imdb.title.akas.csv.gz')

In [2]:
#setting index for joining
title_ratings.set_index('tconst', inplace = True)
title_ratings

            averagerating  numvotes
tconst
tt10356526            8.3        31
tt10384606            8.9       559
tt1042974             6.4        20
tt1043726             4.2     50352
tt1060240             6.5        21
...                   ...       ...
tt9805820             8.1        25
tt9844256             7.5        24
tt9851050             4.7        14
tt9886934             7.0         5
tt9894098             6.3       128

[73856 rows x 2 columns]

In [3]:
#setting index for joing
title_basics.set_index('tconst', inplace =True)
title_basics.head()

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [4]:
#renamed title_id to tconst to join this data frame into our main data frame
title_akas.rename(columns={'title_id':'tconst'}, inplace=True)
title_akas.set_index('tconst', inplace=True)
title_akas.head()

,ordering,title,region,language,types,attributes,is_original_title
tconst,,,,,,,
tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [5]:
#completed first join between title_ratings and title_basics
merged1 = title_ratings.join(title_basics, on='tconst', how='inner')
merged1.head()

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,,,
tt10356526,8.3,31,Laiye Je Yaarian,Laiye Je Yaarian,2019,117.0,Romance
tt10384606,8.9,559,Borderless,Borderless,2019,87.0,Documentary
tt1042974,6.4,20,Just Inès,Just Inès,2010,90.0,Drama
tt1043726,4.2,50352,The Legend of Hercules,The Legend of Hercules,2014,99.0,"Action,Adventure,Fantasy"
tt1060240,6.5,21,Até Onde?,Até Onde?,2011,73.0,"Mystery,Thriller"

In [6]:
#completed second join between the above result and title_akas
imdb_data = merged1.join(title_akas, on='tconst', how='inner')
imdb_data['region'].value_counts()

US     30194
XWW    15267
RU     12924
DE      9608
FR      8414
       ...
XWG        1
ZM         1
LY         1
MR         1
PF         1
Name: region, Length: 196, dtype: int64

In [7]:
#Since there are lots of missing data and irrelevant data, the data is filtered with only US region
imdb_US_movie = imdb_data[imdb_data['region'] == 'US'].copy()
imdb_US_movie.shape

(30194, 14)

In [8]:
#sorted in descending order
imdb_US_movie = imdb_US_movie.sort_values(by=['numvotes'], ascending=False).copy()
imdb_US_movie

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,title,region,language,types,attributes,is_original_title
tconst,,,,,,,,,,,,,,
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8,Inception,US,en,NaN,NaN,0.0
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",24,Inception,US,NaN,imdbDisplay,NaN,0.0
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",30,Oliver's Arrow,US,NaN,NaN,fake working title,0.0
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",42,Inception: The IMAX Experience,US,NaN,NaN,IMAX version,0.0
tt1345836,8.4,1387769,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",9,Magnus Rex,US,NaN,NaN,fake working title,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt1779356,6.0,5,Blind People,Blind People,2010,90.0,Drama,1,Blind People,US,NaN,NaN,NaN,0.0
tt6505002,4.0,5,GONE,GONE,2017,NaN,"Mystery,Thriller",1,GONE,US,NaN,NaN,NaN,0.0
tt6071314,7.8,5,Chevron vs. The Amazon,Chevron vs. The Amazon,2016,68.0,Documentary,1,Chevron vs. The Amazon,US,NaN,NaN,NaN,0.0
tt2119492,7.6,5,Otello,Otello,2012,NaN,"Drama,Music",1,Otello,US,NaN,NaN,NaN,0.0
tt1757749,5.0,5,Fast Talk,Fast Talk,2011,56.0,"Documentary,Sport",1,Fast Talk,US,NaN,NaN,NaN,0.0

In [9]:
#dropped all the duplicate titles from the dataframe
imdb_US_movie = imdb_US_movie.drop_duplicates(subset=['original_title'], keep ='first').copy()
imdb_US_movie

,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,title,region,language,types,attributes,is_original_title
tconst,,,,,,,,,,,,,,
tt1375666,8.8,1841066,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8,Inception,US,en,NaN,NaN,0.0
tt1345836,8.4,1387769,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",9,Magnus Rex,US,NaN,NaN,fake working title,0.0
tt0816692,8.6,1299334,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",2,Interstellar,US,en,NaN,NaN,0.0
tt1853728,8.4,1211405,Django Unchained,Django Unchained,2012,165.0,"Drama,Western",11,Django Unchained,US,NaN,imdbDisplay,NaN,0.0
tt0848228,8.1,1183655,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",39,Marvel's The Avengers,US,NaN,NaN,complete title,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt1779356,6.0,5,Blind People,Blind People,2010,90.0,Drama,1,Blind People,US,NaN,NaN,NaN,0.0
tt6505002,4.0,5,GONE,GONE,2017,NaN,"Mystery,Thriller",1,GONE,US,NaN,NaN,NaN,0.0
tt6071314,7.8,5,Chevron vs. The Amazon,Chevron vs. The Amazon,2016,68.0,Documentary,1,Chevron vs. The Amazon,US,NaN,NaN,NaN,0.0
tt2119492,7.6,5,Otello,Otello,2012,NaN,"Drama,Music",1,Otello,US,NaN,NaN,NaN,0.0
tt1757749,5.0,5,Fast Talk,Fast Talk,2011,56.0,"Documentary,Sport",1,Fast Talk,US,NaN,NaN,NaN,0.0

In [10]:
#filtered out relevant columns in our dataframe
#setting the index to title
imdb_US_movie = imdb_US_movie.set_index('primary_title').copy()
imdb_US_movie = imdb_US_movie[['averagerating', 'numvotes', 'start_year', 'runtime_minutes', 'genres']].copy()
imdb_US_movie.head(20)

,averagerating,numvotes,start_year,runtime_minutes,genres
primary_title,,,,,
Inception,8.8,1841066,2010,148.0,"Action,Adventure,Sci-Fi"
The Dark Knight Rises,8.4,1387769,2012,164.0,"Action,Thriller"
Interstellar,8.6,1299334,2014,169.0,"Adventure,Drama,Sci-Fi"
Django Unchained,8.4,1211405,2012,165.0,"Drama,Western"
The Avengers,8.1,1183655,2012,143.0,"Action,Adventure,Sci-Fi"
The Wolf of Wall Street,8.2,1035358,2013,180.0,"Biography,Crime,Drama"
Shutter Island,8.1,1005960,2010,138.0,"Mystery,Thriller"
Guardians of the Galaxy,8.1,948394,2014,121.0,"Action,Adventure,Comedy"
Deadpool,8.0,820847,2016,108.0,"Action,Adventure,Comedy"
The Hunger Games,7.2,795227,2012,142.0,"Action,Adventure,Sci-Fi"
Star Wars: Episode VII - The Force Awakens,8.0,784780,2015,136.0,"Action,Adventure,Fantasy"
Mad Max: Fury Road,8.1,780910,2015,120.0,"Action,Adventure,Sci-Fi"
Gone Girl,8.1,761592,2014,149.0,"Drama,Mystery,Thriller"
The Hobbit: An Unexpected Journey,7.9,719629,2012,169.0,"Adventure,Family,Fantasy"
Gravity,7.7,710018,2013,91.0,"Drama,Sci-Fi,Thriller"
Iron Man 3,7.2,692794,2013,130.0,"Action,Adventure,Sci-Fi"
Harry Potter and the Deathly Hallows: Part 2,8.1,691835,2011,130.0,"Adventure,Drama,Fantasy"
Thor,7.0,683264,2011,115.0,"Action,Adventure,Fantasy"
Toy Story 3,8.3,682218,2010,103.0,"Adventure,Animation,Comedy"
The Martian,8.0,680116,2015,144.0,"Adventure,Drama,Sci-Fi"

In [11]:
#the mean vote counts is significantly larger than the median.
#This means the data is extremely skewed right.
#Since we don't want to know movies with small number of votes, we will only consider top 10 percent of this data
mean = imdb_US_movie['numvotes'].mean()
median = imdb_US_movie['numvotes'].median()
print(f'mean is {mean} and median is {median}')

mean is 8626.783681653427 and median is 67.0

In [12]:
#10 and 1 percentile of vote counts
ten_percentile = imdb_US_movie['numvotes'].quantile(.90)
one_percentile = imdb_US_movie['numvotes'].quantile(.99)

print("top 10 percentile:", round(ten_percentile))
print("top 1 percentile:", round(one_percentile))

top 10 percentile: 5795
top 1 percentile: 223993

In [13]:
#movies filtered based on the vote counts percentile
top_10percent = imdb_US_movie[(imdb_US_movie['numvotes']>=5795)].reset_index().copy()
top_1percent = imdb_US_movie[(imdb_US_movie['numvotes']>=223993)].reset_index().copy()

In [14]:
#divided up multiple genres for a single movie into a separate row
top_10percent.loc[:,('genres')] = top_10percent.loc[:,('genres')].str.split(',')
top_10percent

,primary_title,averagerating,numvotes,start_year,runtime_minutes,genres
0,Inception,8.8,1841066,2010,148.0,"[Action, Adventure, Sci-Fi]"
1,The Dark Knight Rises,8.4,1387769,2012,164.0,"[Action, Thriller]"
2,Interstellar,8.6,1299334,2014,169.0,"[Adventure, Drama, Sci-Fi]"
3,Django Unchained,8.4,1211405,2012,165.0,"[Drama, Western]"
4,The Avengers,8.1,1183655,2012,143.0,"[Action, Adventure, Sci-Fi]"
...,...,...,...,...,...,...
2589,Baaghi,5.2,5826,2016,133.0,"[Action, Thriller]"
2590,El Camino Christmas,5.6,5825,2017,89.0,"[Comedy, Crime]"
2591,Results,5.4,5811,2015,105.0,"[Comedy, Romance]"
2592,Extortion,6.2,5804,2017,108.0,"[Action, Adventure, Crime]"
2593,The German Doctor,6.8,5799,2013,93.0,"[Drama, History, Thriller]"

In [15]:
df = top_10percent.copy()

In [16]:
df['indication'] = df['genres'].apply(lambda x: "check" if (("Drama" in x and "Adventure" in x) or 
                                                            ("Drama" in x and "Action" in x))  else "NA")

,primary_title,averagerating,numvotes,start_year,runtime_minutes,genres,indication
0,Inception,8.8,1841066,2010,148.0,"[Action, Adventure, Sci-Fi]",NA
1,The Dark Knight Rises,8.4,1387769,2012,164.0,"[Action, Thriller]",NA
2,Interstellar,8.6,1299334,2014,169.0,"[Adventure, Drama, Sci-Fi]",check
3,Django Unchained,8.4,1211405,2012,165.0,"[Drama, Western]",NA
4,The Avengers,8.1,1183655,2012,143.0,"[Action, Adventure, Sci-Fi]",NA
...,...,...,...,...,...,...,...
2589,Baaghi,5.2,5826,2016,133.0,"[Action, Thriller]",NA
2590,El Camino Christmas,5.6,5825,2017,89.0,"[Comedy, Crime]",NA
2591,Results,5.4,5811,2015,105.0,"[Comedy, Romance]",NA
2592,Extortion,6.2,5804,2017,108.0,"[Action, Adventure, Crime]",NA
2593,The German Doctor,6.8,5799,2013,93.0,"[Drama, History, Thriller]",NA

In [17]:
df[df['indication'] == "check"]

,primary_title,averagerating,numvotes,start_year,runtime_minutes,genres,indication
2,Interstellar,8.6,1299334,2014,169.0,"[Adventure, Drama, Sci-Fi]",check
16,Harry Potter and the Deathly Hallows: Part 2,8.1,691835,2011,130.0,"[Adventure, Drama, Fantasy]",check
19,The Martian,8.0,680116,2015,144.0,"[Adventure, Drama, Sci-Fi]",check
44,Logan,8.1,560270,2017,137.0,"[Action, Drama, Sci-Fi]",check
54,Life of Pi,7.9,535836,2012,127.0,"[Adventure, Drama, Fantasy]",check
...,...,...,...,...,...,...,...
2515,The Osiris Child,5.6,6288,2016,95.0,"[Action, Adventure, Drama]",check
2542,The Little Mermaid,4.2,6127,2018,85.0,"[Adventure, Drama, Fantasy]",check
2547,Once Upon a Time in Mumbai Dobaara!,4.8,6109,2013,160.0,"[Action, Crime, Drama]",check
2553,Ishaqzaade,6.6,6078,2012,120.0,"[Action, Drama, Romance]",check
2586,Animal,4.8,5859,2014,86.0,"[Action, Adventure, Drama]",check

In [ ]:
#number of movies within each genres for the top 10 percent vote counts of the movies
genres_count_10percent = pd.DataFrame(top_10percent['genres'].value_counts())
genres_count_10percent

In [ ]:
#average_ratings_by_genre = 
pd.DataFrame(top_10percent.groupby('genres')['numvotes'].mean().sort_values(ascending=False))

In [ ]:
top_1percent.loc[:,('genres')] = top_1percent.loc[:,('genres')].str.split(',')

In [ ]:
top_1percent = top_1percent.explode('genres')
top_1

In [ ]:
top_1percent = top_1percent.explode('genres')

In [ ]:
top_1percent

In [ ]:
top_1percent.groupby('genres')['averagerating']

In [ ]:
top_1percent['genres'].value_counts()

In [ ]:
genre_vote = top_1percent[['genres','numvotes']]
genre_vote.reset_index(inplace=True)
genre_vote.drop(columns=['primary_title'], inplace=True)
genre_vote

In [ ]:
numvotes_bygenres = genre_vote.groupby(['genres'])['numvotes'].sum()
numvotes_bygenres

In [ ]:
genres_votes_1percent = numvotes_bygenres.to_frame()
genres_votes_1percent.reset_index(inplace=True)

In [ ]:
genres_votes_1percent.sort_values(by=['numvotes'],ascending=False, inplace=True)
genres_votes_1percent

In [ ]:
fig, ax = plt.subplots()
x = genres_votes_1percent['genres']
y = genres_votes_1percent['numvotes']
ax.bar(x,y)
ax.set_xlabel('Movie Genres')
ax.set_ylabel('Total Number of Votes')
ax.set_title("Total Number of Votes by Genres")
plt.tight_layout()

In [ ]:
angela_df = imdb_US_movie.copy()

In [ ]:
angela_df['genres'] = angela_df['genres'].str.split(',')
angela_df = angela_df.explode('genres')

In [ ]:
angela_df

In [ ]:
top_10percent

In [ ]:
top_10percent['genres'] = top_10percent['genres'].str.split(',')
top_10percent = top_10percent.explode('genres')
top_10percent

In [ ]:
genres_vote_10percent = top_10percent.groupby('genres')['numvotes'].sum()
genres_vote_10percent.sort_values(ascending=False)

In [ ]:
top_10percent['genres'].value_counts()

In [ ]:
top_25percent['genres'] = top_25percent['genres'].str.split(',')
top_25 = top_25percent.explode('genres')
top_25['genres'].value_counts()